<template>
  <h1>Actualizar</h1>
  <form v-on:submit.prevent="actualizarLibros">
    <input type="text" v-model="nombre" placeholder="nombre" />
    <br />
    <input type="text" v-model="costo" placeholder="costo" />
    <br />
    <button type="submit">Actualizar</button>
  </form>
</template>

<script>
import axios from "axios";
export default {
  name: "ActualizarLibros",
  props: ["nombre", "costo", "id"],
  methods: {
    actualizarEstudiante: function() {
      axios
        .put("https://moonkeybooks-mintic.herokuapp.com/libro/" + this.id, {
          nombre: this.nombre,
          cedula: this.costo,
        })
        .then((respuesta) => {
          alert("Libro actualizado exitosamente!");
        })
        .catch(() => {
          alert("Error al actualizar el libro");
        });
    },
  },
  created: function() {},
};
</script>

<style></style>
