


<template>

<b-container >
<div class="wrapper2">
<img src="./images/logo.png"  alt="" class="logo">
   
   <div class="box box2">Boys&Girl</div>
   <div class="box box3">Toy&Decor</div>
   <div class="box box4">About</div>
   <div class="box box5">Contact</div>
   <div class="box box6">login</div>
   <div class="box box7"><img src="./images/cart.png"  alt="" class="cart"></div>
  <div class="box box9">
      <div class="wrapper9">
        <div class="box10">
         <div>
         <b-nav class="nav">
         <div class="nested"><button v-on:click="irAListaLibros">Lista de Libros </button></div>
         <div class="nested"><button v-on:click="irAAgregarLibros">Agregar libros</button></div>
         </b-nav>
           </div>
        
        </div>
        <div class="box11">
         
        <router-view></router-view>
         
      </div>
  </div>

  
  </div>
</div>

</b-container>

</template>

<script>
export default {
  name: "App",

  methods: {
    irAListaLibros: function() {
      console.log("error")
      this.$router.push({ name: "listarL" });
    },
    irAAgregarLibros: function() {
      console.log("error") 
      alert("error")
      this.$router.push({ name: "crearL" });
    },
  },
};
         
</script>

<style>

body{
        font:15px/1.3 'Open Sans', sans-serif;
        color: #5e5b64;
        text-align:center;
        margin-top: 60px;
}

.logo {
  width: 100%;
  padding: 10px;
  
  
  
} 

.cart {
  width: 20%;
  padding: 0px;
  
  
} 
button {
  margin-left: 20px;
  height: 35px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  background-color: #0076A4;
  color: #ecf0f1;
  cursor: pointer
}

#app {
  font-family: 'Avenir',Agency FB, Helvetica, Arial, sans-serif;
  color: #888F92;
  margin:60px auto 45px;
  font-size:16px;
 
 
}

.banner {
  
 margin-left: 450px;
   
}

.nav {
  margin-left: 450px;
  
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper > div {
  flex: 1 1 200px;
}


.wrapper2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(100px, auto);
  
}

.box9 {
  grid-column-start: 1;
  grid-column-end: 9;
  
}

.wrapper9 {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}
.box23 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
}


</style>


